{% extends 'blog/base.html' %}

{% block content %}
    <div class="blog_message">{{ mmm }}</div>
    {% if posts %}
        {% for post in posts %}
            {% if spec == post.doctors.T_Id.Spec.split %}
                <div class="blog_sub">
                    {{ post.the_sub }}
                </div>
                <div class="blog_post">
                    {{ post.the_text }}
                </div>
                <div class="blog_author">{{ post.doctors.D_Id.first_name }}</div>
                <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <div class="blog_post">
            Nothing Here...Yet
        </div>
    {% endif %}
{% endblock %}