{% extends 'welcome/base.html' %}

{% block content %}
    <br><br><br><br>
    <div class="container">
            <div class="blog_message">{{ mmm }}</div>
            {% if posts %}
                {% for post in posts %}
                    <div class="row" style="border: 2px solid #2bb673; border-radius: 7px;border-spacing: 15px;height: 20%">
                        {% if spec == post.doctors.Spec.split %}
                            <div class="col col-sm-2  blog_sub">
                                {{ post.the_sub }}
                            </div>
                            <div class="col col-sm-1">
                                {% if post.picture.url != '/media/None.png' %}
                                    <br>
                                    <img src="{{ post.picture.url }}" style="display:block;width: 100%;height: auto ;border: 2px solid #2bb673; border-radius: 7px;">
                                    <br>
                                {% endif %}
                            </div>
                            <div class="blog_post col col-sm-8" >
                                {{ post.the_text }}
                            </div>

                            <div class="blog_author col col-sm-1">{{ post.doctors.D_Id }}
                                {% if post.doctors.D_Id == author %}
                                    <a href="{% url 'blog:edit_blog' post.id %}">Edit</a>
                                    <a href="{% url 'blog:delete_blog' post.id%}">Delete</a>
                                {% endif %}
                                <br><br>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
              {% endif %}
                <br><br><br>
              {% for post in posts %}
                  <div class="row" style="border: 2px solid #2bb673; border-radius: 7px;border-spacing: 15px;outline: 10px;height: 20%">
                    {% if spec != post.doctors.Spec.split %}
                      <div class="col col-sm-2  blog_sub">
                          {{ post.the_sub }}
                      </div>
                      <div class="col col-sm-1">
                          {% if post.picture.url != '/media/None.png' %}
                            <br>
                            <img src="{{ post.picture.url }}" style="display:block;width: 100%;height: auto ;border: 2px solid #2bb673; border-radius: 7px;">
                            <br>
                          {% endif %}
                        </div>
                      <div class="blog_post col col-sm-8">
                        {{ post.the_text }}
                      </div>
                      <div class="blog_author col col-sm-1">{{ post.doctors.D_Id }}
                      {% if post.doctors.D_Id == author %}
                        <a href="{% url 'blog:edit_blog'  post.id %}">Edit</a>
                        <a href="{% url 'blog:delete_blog' post.id %}">Delete</a>
                      {% endif %}
                      <br><br><br>
                      </div>
                    {% endif %}
                  </div>
              {% endfor %}
                <br><br>
                <div class="row">
                    <a href="{% url 'blog:make_blog' %}">Add Blog</a>
                </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br>
{% endblock %}
