{% extends 'welcome/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
        {% block css %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HOME</title>
        <!--Bootstrap	-->
        {% load static %}
        <link rel="stylesheet" href="{% static 'welcome/bootstrap.css' %}">
        <script src="{% static 'welcome/bootstrap.js' %}"></script>
        {% endblock %}
</head>
<body>
    {% block content %}

  	<div class="container">
		<hr>
		<div class="row">
		  <div class="col-xs-6">
			<h1>Dr. {{ user.username }}</h1>
		  </div>
		  <div class="col-xs-6">
              <p class="text-right">
                  <a href="" class="btn btn-danger">Take Appointment</a><br><br><br>
                  <a href="{% url 'welcome:logout' %}" class="btn btn-primary btn-hover">lOGOUT</a>
              </p>
		  </div>
		</div>
		<hr>
		<div class="row">
		  <div class="col-xs-7">
			<div class="media">
			  <div class="media-left"><a href="#">{% load static %}<img class="media-object img-rounded" src="{% static 'welcome/images/115X115.gif' %}"  alt="..."> </a> </div>
			  <div class="media-body">
				<h2 class="media-heading">Dentist</h2>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, neque, in, accusamus optio architecto debitis dolor animi placeat ut ab corporis laboriosam itaque. Nobis, sapiente quo dolorum ut quod possimus doloremque suscipit ad doloribus quam dolor </div>
			</div>
		  </div>
		  <div class="col-xs-5 well">
			<div class="row">
			  <div class="col-lg-6">
				<h4><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> : 123-456-7890</h4>
			  </div>
			  <div class="col-lg-6">
				<h4><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> : doctor@example.com</h4>
			  </div>
			</div>
			<div class="row">
			  <div class="col-lg-6">
				<h4><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> : Tada, Sri City</h4>
			  </div>
			  <div class="col-lg-6">
				<h4><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> : www.doctor-site.com </h4>
			  </div>
			</div>
		  </div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-8 col-lg-7">
				<h2>Description</h2>
				<hr>
				<h4><span class="label label-default">Clinic</span></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>

				<h4><span class="label label-default">Timings</span></h4>
				<ul>
					<li>Week-days - 00:00 - 00:00</li>
					<li>Saturdays - 00:00 - 00:00</li>
					<li>Sundays   - Holiday</li>
				</ul>
				<h4><span class="label label-default">Info</span></h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, recusandae, corporis, tempore nam fugit deleniti sequi excepturi quod repellat laboriosam soluta laudantium amet dicta non ratione distinctio nihil dignissimos esse!</p>
			</div>
		  <div class="col-sm-4 col-lg-5">
			<h2>Today's Schedule</h2>
			<hr>

			<br><br><br><br><br><br><br><br><br><br>

	   </div>
		</div>
		<hr>
	</div>

    {% endblock %}
</body>
</html>