{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
{#    <script src="{% static 'java/pswd_val.js' %} ">#}
{##}
{#    </script>#}
</head>
<body>
    <form method="POST" name="form"  action="val_p/" >

        {% csrf_token %}
        <br><br>
        First name * : <input type="text" name="Firstname" value="{{f_name}}" required placeholder="First Name"><br><br>
        Last name  *: <input type="text" name="Lastname" value="{{ l_name }}" required placeholder="Last Name"><br><br>
        Email : <input type="email" id="email_1" name="email" value="{{ email }}"><br><br>
        <script src="{% static 'java/req.js' %} "></script>
        Contact Number *: <input type="text" name="phone_num" pattern="[0-9]{10}" placeholder="Contact Number" autofocus required><br><br>
        Age *: <input type="number" name="Age" placeholder="Age" required><br><br>
        Gender *: <select name="Gender" required>
                    <option name="Male">Male</option>
                    <option name="Female">Female</option>
                    <option name="Others">Others</option>
                 </select>
                 <br><br>
        Blood Group *: <select name="blood_grp" required>
                            <option name="A">A</option>
                            <option name="B">B</option>
                            <option name="AB">AB</option>
                            <option name="O">O</option>

                      </select>
                      <select name="blood_type" required>
                            <option name="+ve">+ve</option>
                            <option name="-ve">-ve</option>

                      </select><br><br>

        Emergency Contact Number *: <input type="text" name="emer_phone_num"  pattern="[0-9]{10}" placeholder="Contact Number" required><br><br>
        Medical Conditions (If any) : <input type="text" style="height: 100px; width:280px;" name="Medical"  size="40"><br><br>

        <input type="Submit" name="Submit" value="Submit"/>
    </form>
</body>
</html>
