
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
	<title>Login</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="918878356264-ftsb0vb88h9teoe1qop63fe27gho6i25.apps.googleusercontent.com">
    <script scr="{% static 'java/signout.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css_0/main.css' %}">
</head>
<body>

    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <h2  class="active"  > Everyone's login </h2>
      <h2 class="inactive underlineHover"><a href="#"> Doctor's Login </a></h2>

    <!-- Icon -->
    <div class="fadeIn first">
{#      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" />#}
    </div>

    <!-- Login Form -->
      <br>
      <br>
    <form  name="myform" method="POST" action='new_user/' >
        {% csrf_token %}

        <div id="my-signin2" align="center"></div>
        <script src= "{% static 'java/google_auth.js' %}" > </script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <br>
        <input type="hidden" id="full_name" name="fullname" value="">
        <input type="hidden" id="image" name="image" value="">
        <input type="hidden" id="email" name="email" value="">
        <br>

    </form>

      <a href="#" onclick="signOut();">Sign out</a>

        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
</body>
</html>