{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="918878356264-ftsb0vb88h9teoe1qop63fe27gho6i25.apps.googleusercontent.com">
    <script src= "{% static 'java/google_auth.js' %}" ></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
</head>
<body>
<p>welcome {{ user.doctors.Phone }} and {{ user.username }} <br>  {{ user.patient_db.image_url }}</p>
<img src="{{ user.patient_db.image_url }}" alt="Not available">
<a href="{% url 'welcome:logout' %}" onclick="signOut()">lOGOUT</a>

</body>
</html>