<{% load static %}
<html>
<head>
	<title>Login</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="918878356264-ftsb0vb88h9teoe1qop63fe27gho6i25.apps.googleusercontent.com">
    <script scr="{% static 'java/signout.js' %}" ></script>
</head>
<body>

    <form  name="myform" method="POST" action='/patient_reg/'>
        {% csrf_token %}

        <div id="my-signin2" align="center"></div>
        <script src= "{% static 'java/google_auth.js' %}" > </script>
        <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
        <br>
        <input type="hidden" id="full_name" name="fullname" value="">
        <input type="hidden" id="image" name="image" value="">
        <input type="hidden" id="email" name="email" value="">
        <br>
    </form>

      <a href="#" onclick="signOut();">Sign out</a>

        <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

    <!-- Remind Passowrd -->
</body>
</html>