<!DOCTYPE html>

<html>

	<head>

		<title>DropDown</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
		 .scrollable-menu {
		     height: auto;
		     max-height: 100px;
		     overflow-x: hidden;
		 }
</style>
<style>
/* Style the input field */
#myInput {
	padding: 20px;
	margin-top: -6px;
	border: 0;
	border-radius: 0;
	background: #f1f1f1;
}
</style>
	</head>

	<body>

		<div class="container">



			<div class="dropdown">

			   <button id="dropdownMenu1" class="btn dropdown-toggle" data-toggle="dropdown">
					Medicines
					<span class="caret"></span>
			   </button>

			   <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenu1">
               <input class="form-control" id="myInput" type="text" placeholder="Search..">
					{%for i in range %}
					<li>
					 <a href="#">{{i.0}} - {{i.1}}</a>
				  </li>

{%endfor%}
			   </ul>

			</div>



		</div>
		<script>
		$(document).ready(function(){
		  $("#myInput").on("keyup", function() {
		    var value = $(this).val().toLowerCase();
		    $(".dropdown-menu li").filter(function() {
		      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
		    });
		  });
		});
		</script>
	</body>

</html>
