@charset "utf-8";
/* CSS Document */

/* doctor search form */
#search_bar{
	width: 700px;
	border: 2px;
}

/* */

.select2-container .select2-selection--single{
    height:34px !important;
}
.select2-container--default .select2-selection--single{
         border: 1px solid #ccc !important;
     border-radius: 0px !important;
}

#search_dd {
    margin: auto;
    text-align: center;
}