<!Doctype html>
<html>
    <head>
        <title>{{ disease.disease_name }}</title>
    </head>
    <body>
    <h2><em>What is {{ disease.disease_name }}?</em></h2><br>
        {{ disease.disease_about }}<br><br>
     <b><em>Causes:</em></b><br>
        {{ disease.disease_causes }}<br><br>
     <b><em>Diagnosis:</em></b><br>
        {{ disease.disease_diagnosis }}<br><br>
     <b><em>Treatment:</em></b><br>
        {{ disease.disease_treatment }}<br><br>
      <b><em>Symptoms:</em></b><br>
      <ul>
          {% for s in disease.symptoms_set.all %}
          <li>{{ s.symptom }}</li><br>
          {% endfor %}
      </ul>
    </body>
</html>