{%  extends 'patient_home/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <title>About us</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <br><br><br>
        <div class="container">
            <div class="row">
                <h1> ONLINE DOCTOR APPOINTMENT </h1>
            </div>
            <br><br>
            <div class="row">
                <h4>Members</h4>
                <ul>
                    <li>KIKKURI YASHWANTH REDDY [S20170010072]</li>
                    <li>SAMPANGI NIKHIL KUMAR [S20170010136]</li>
                    <li>KIRAN SANKAR E J [S20170010073]</li>
                    <li>SETTY VENKAT VISHWANTH [S20170010143]</li>
                    <li>CHEBOLU SRI SAI KUMAR [S20170020197]</li>
                    <li>RAYAPROLU SASIKANTH [S20170010125]</li>
                </ul>
            </div>
            <br><br>
            <div class="row">
                <p>
                    [ Project initiated as a part of ‘Applied Software Engineering-1’ course of
Indian Institute of Information Technology Sri City under the supervision of
Dr. Balasubramanian (Subu) Kandaswamy, Mr. Ravi Venkataraman, Mr. Prabhat Padhay. ]
                </p>
            </div>
        </div>
        <br><br><br>
    {% endblock %}
</body>

</html>