{% extends 'patient_home/base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    <meta charset="UTF-8">
    <title>FAQ</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <br><br><br><br>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                <h2>FAQ</h2>
                    <p>Q) What are your clinics' office hours?</p>
                    <p>A) Most of the appointments are between 9.00 AM to 5.30 PM.</p>
                    <p>Q) For appointments or if you need to change/reschedule or missed my appointment?</p>
                    <p>A) You can make a new appointment in the appointments tab in your homepage.</p>
                    <p>Q) What do I need to bring to my appointment?</p>
                    <p>A) Bring your clinic card if available. Also try to bring the prescription of the medication that you have been taking. </p>
                    <p>Q) How do I get a refill on my prescription?</p>
                    <p>A) Our pharmacy locator is sure to help you out to find medical stores near you.</p>
                    <p>Q) What is ODA? How can I use it?</p>
                    <p>A) ODA is Online Doctor Appointment, and it is a streamlined web service to help people and doctors with making appointments and saving time.</p>
                    <p>Q) What are Telemedicine services and do we offer them?</p>
                    <p>A) Currently we do not support telemedicine services as we believe that it is better if the patient can do a routine check up with the doctor to identify what exactly the problem is. In case the patient is not able to do so, he/she can use our disease identification software to get a broad understanding of what might be wrong with them and get an appointment with a specialist.</p>
                    <p>Q) What if I can't use the services effectively?</p>
                    <p>A) We have a useful help and support page that can inform you how to use the website and all the concerns and grievances can be mailed to us. And, if you still have problems in using the service, contact us and we will be happy to help you.</p>
                </div>
            </div>
        </div>
        <br><br><br><br><br><br><br><br>
    {% endblock %}
</body>
</html>