{% extends 'patient_home/base.html' %}

<!doctype html>
<html>
<head>
<meta charset="utf-8">
    {% block css %}

    {% load static %}

	<title>Stock Availability</title>


	<!--Google Fonts	-->
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald" rel="stylesheet">


    {% endblock %}
</head>

<body>
    {% block content %}
    <br><br>
    <!-- Main Content -->
	<!-- Search Bar -->
	<div class="container" id="doc">
		<div class="row">
			<p style="font-family: Josefin Sans;font-size:50px">These are all the Pharmacies near you..</p>
		</div>

		<div class="row justify-content-center">
			<form action="" method="post">
                {% csrf_token %}
				<div class="card-body row no-gutters align-items-center">
					<div class="col input-group dropdown" style="width: 700px;">
                        <select class="form-control select2 dropdown-toggle" name="pharmaloc" >

                            <option style="width: 700px;">

                            </option>

                        </select>
					</div>&nbsp;&nbsp;
				</div>
                <br>
                <div style="text-align: center;">
                    <button class="btn btn-lg btn-outline-primary" type="submit">Show Medicine stock</button>
                </div>
			</form>

		</div>
		<br/><br/><br/><br/><br/><br/>
		<div class="row">
			<p style="font-family: Josefin Sans;font-size:30px">
                Or else try:<br>
                <a href="{% url 'doctor_locator' %}">Doctor Locator</a>
                for finding doctors near you and <br>
                <a href="">Doctor Identifier</a>
                for finding the type of doctor
            </p>
		</div>
	</div>
    {% endblock %}

	</body>
</html>