@charset "utf-8";
/* CSS Document */

/* Appointments */
#pg_heading {
	background-image: url(images/nav_ico-07.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 400px;
	height: 70px
}

#grid1 {
	margin: 0 auto;
	max-width: 75%;
	border-top: 2px solid #0082c8;
	border-bottom: 2px solid #0082C8;
}

#grid1::after {
	content: '';
	position: absolute;
	border-top: 2px solid #0082c8;			
	left:21%;
}